body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin:0;
    padding:0;
}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    width: 30% ;/* 스크롤바의 길이 */
    background: #7c8d8d; /* 스크롤바의 색상 *
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

a {
    width: 100%;
    text-decoration: none;
    color: black !important;
}

/* .link{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms ease 0s, background 200ms ease 0s;
    text-align: center;
    text-decoration : none;
} */
