body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin:0;
    padding:0;
}
a {
    width: 100%;
    text-decoration: none;
    color: black !important;
}

/* .link{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms ease 0s, background 200ms ease 0s;
    text-align: center;
    text-decoration : none;
} */
